# GENERIC | folders
.idea/
.nbproject/
.vagrant/
vagrant-env.yml
tmp/

# GENERIC | files
*.pyc
*.retry
ssh.cfg
ansible.cfg
bootstrap.cfg

# ANSIBLE | folders
roles/galaxy
roles/vendor

# ANSIBLE | files
/ops.key
.tfstate