vars/secrets.yml filter=git-crypt diff=git-crypt
files/passwords/** filter=git-crypt diff=git-crypt
files/licenses/** filter=git-crypt diff=git-crypt

# general rules
.gitkeep !filter !diff
*.key filter=git-crypt diff=git-crypt