# GENERIC | folders
.idea/
.nbproject/
.vagrant/
tmp/

# GENERIC | files
*.pyc
*.retry

# ANSIBLE | folders
roles/galaxy
roles/vendor

# ANSIBLE | files
# ANSIBLE | files
/ansible.cfg
/bootstrap.cfg
inventory/env/dev.yml
plays/debug.yml
/ops.key
