[defaults]
inventory = ./env/dev
roles_path = ${PWD}/roles
display_skipped_hosts = False
display_ok_hosts = False
command_warnings = False
host_key_checking = False
allow_world_readable_tmpfiles = True
deprecation_warnings = False
retry_files_enabled = False
ansible_python_interpreter = /usr/bin/python3

# modify where ansible looks up plugins
lookup_plugins = ${PWD}/plugins/lookup

# UNCOMMENT THESE AS YOU USE THEM
#filter_plugins = ${PWD}/plugins/filter
#library = ${PWD}/plugins/module
#cache_plugins = ${PWD}/plugins/cache
#callback_plugins = ${PWD}/plugins/callback
#vars_plugins = ${PWD}/plugins/var
#terminal_plugins = ${PWD}/plugins/terminal
#netconf_plugins = ${PWD}/plugins/netconf
#strategy_plugins = ${PWD}/plugins/strategy
#module_utils = ${PWD}/plugins/module_utils

[ssh_connection]
scp_if_ssh = True
pipelining = True
host_key_checking = False
